/** Critical CSS for the theme. This file is included on every page. */

/* Reset styles inspired by https://www.joshwcomeau.com/css/custom-css-reset/ */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100svh;
}
.shopify-section-group-header-group {
  min-height: 91.59px;
}
html:has(dialog[scroll-lock][open], details[scroll-lock][open]) {
  overflow: hidden;
}
.header svg {
  width: 24px;
  height: 24px;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select {
  font: inherit;
}

select {
  background-color: var(--color-background);
  color: currentcolor;
}

dialog {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

p {
  text-wrap: pretty;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a {
  color: inherit;
}
p:empty {
  display: none;
}

:is(p, h1, h2, h3, h4, h5, h6):first-child,
:empty:first-child + :where(p, h1, h2, h3, h4, h5, h6) {
  margin-block-start: 0;
}

:is(p, h1, h2, h3, h4, h5, h6):last-child,
:where(p, h1, h2, h3, h4, h5, h6) + :has(+ :empty:last-child) {
  margin-block-end: 0;
}

/** Theme styles below */
body {
  font-family: var(--font-body--family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

h1,
h2,
h3,
h4,
h5,
h6, {
  font-family: var(--font-heading--family);
  font-weight: var(--font-heading--weight);
  line-height: var(--line-height-heading);
  color: var(--color-heading);
}


.h1 {
  font-size: var(--font-size-h1);
}
.h2 {
  font-size: var(--font-size-h2);
}
.h3 {
  font-size: var(--font-size-h3);
}
.h4 {
  font-size: var(--font-size-h4);
}
.h5 {
  font-size: var(--font-size-h5);
}
.h6 {
  font-size: var(--font-size-h6);
}


h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}
h6 {
  font-size: var(--font-size-h6);
}

.button--filled,
button {
  font-family: var(--font-button--family);
  font-size: var(--font-size-button);
  font-weight: var(--font-button--weight);
  background-color: var(--button-background);
  color: var(--button-foreground);
  border: none;
  cursor: pointer;
  border-radius: var(--button-radius);
  transition: all 0.25s ease;
  position: relative;
  overflow: hidden;
  z-index: 0;
  isolation: isolate;
  padding: 0.6rem 2.5rem;
  text-decoration: unset;
}
.button--filled::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: var(--button-hover-background);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.45s cubic-bezier(0.65, 0, 0.35, 1);

  z-index: -1;
  pointer-events: none;
}

.button--filled:hover::before,
.button--filled:focus-visible::before {
  transform: scaleY(1);
}
button:hover,
.button--filled:hover {
  color: var(--button-hover-foreground);
}
.button--filled:hover {
  transform: translateY(-5px);
}
.shopify-section-group-footer-group {
  margin-top: auto !important;
}
input,
textarea,
select,
.field__input {
  font-size: var(--font-size-field);
  background-color: var(--input-background);
  color: var(--input-foreground);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--input-radius);
}
.full-width {
  padding-left: var(--container-margin);
  padding-right: var(--container-margin);
  width: 100%;
}


/** Section layout utilities */

.container-width {
  width: 100%;
  max-width: var(--container-width);
  padding-left: var(--container-margin);
  padding-right: var(--container-margin);
  box-sizing: border-box;
  margin: auto;
}
.section-color-scheme--scheme_1 {
  --color-background: var(--scheme1-background);
  --color-foreground: var(--scheme1-body);
  --color-heading: var(--scheme1-heading);
  --button-background: var(--scheme1-button-background);
  --button-foreground: var(--scheme1-button-foreground);
  --button-hover-background: var(--scheme1-button-hover-background);
  --button-hover-foreground: var(--scheme1-button-hover-foreground);
  --button-outline-border: var(--scheme1-outline-button-border);
  --button-outline-foreground: var(--scheme1-outline-button-foreground);
  --button-outline-hover-border: var(--scheme1-outline-button-hover-border);
  --button-outline-hover-foreground: var(
    --scheme1-outline-button-hover-foreground
  );
  --input-background: var(--scheme1-input-background);
  --input-foreground: var(--scheme1-input-foreground);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.section-color-scheme--scheme_2 {
  --color-background: var(--scheme2-background);
  --color-foreground: var(--scheme2-body);
  --color-heading: var(--scheme2-heading);
  --button-background: var(--scheme2-button-background);
  --button-foreground: var(--scheme2-button-foreground);
  --button-hover-background: var(--scheme2-button-hover-background);
  --button-hover-foreground: var(--scheme2-button-hover-foreground);
  --button-outline-border: var(--scheme2-outline-button-border);
  --button-outline-foreground: var(--scheme2-outline-button-foreground);
  --button-outline-hover-border: var(--scheme2-outline-button-hover-border);
  --button-outline-hover-foreground: var(
    --scheme2-outline-button-hover-foreground
  );
  --input-background: var(--scheme2-input-background);
  --input-foreground: var(--scheme2-input-foreground);
  background-color: var(--color-background);
  color: var(--color-foreground);
}
.section-color-scheme--scheme_3 {
  --color-background: var(--scheme3-background);
  --color-foreground: var(--scheme3-body);
  --color-heading: var(--scheme3-heading);
  --button-background: var(--scheme3-button-background);
  --button-foreground: var(--scheme3-button-foreground);
  --button-hover-background: var(--scheme3-button-hover-background);
  --button-hover-foreground: var(--scheme3-button-hover-foreground);
  --button-outline-border: var(--scheme3-outline-button-border);
  --button-outline-foreground: var(--scheme3-outline-button-foreground);
  --button-outline-hover-border: var(--scheme3-outline-button-hover-border);
  --button-outline-hover-foreground: var(
    --scheme3-outline-button-hover-foreground
  );
  --input-background: var(--scheme3-input-background);
  --input-foreground: var(--scheme3-input-foreground);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.section-color-scheme--scheme_4 {
  --color-background: var(--scheme4-background);
  --color-foreground: var(--scheme4-body);
  --color-heading: var(--scheme4-heading);
  --button-background: var(--scheme4-button-background);
  --button-foreground: var(--scheme4-button-foreground);
  --button-hover-background: var(--scheme4-button-hover-background);
  --button-hover-foreground: var(--scheme4-button-hover-foreground);
  --button-outline-border: var(--scheme4-outline-button-border);
  --button-outline-foreground: var(--scheme4-outline-button-foreground);
  --button-outline-hover-border: var(--scheme4-outline-button-hover-border);
  --button-outline-hover-foreground: var(
    --scheme4-outline-button-hover-foreground
  );
  --input-background: var(--scheme4-input-background);
  --input-foreground: var(--scheme4-input-foreground);
  background-color: var(--color-background);
  color: var(--color-foreground);
}
.button--outline {
  background-color: transparent;
  border: 1px solid var(--button-outline-border);
  color: var(--button-outline-foreground);
  transition: all 0.25s ease;
  border-radius: var(--button-radius);
  padding: 0.6rem 2.5rem;
  text-decoration: unset;
}

.button--outline:hover {
  background-color: transparent;
  border-color: var(--button-outline-hover-border);
  color: var(--button-outline-hover-foreground);
  transform: translateY(-5px);
}


@media screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
  .header svg {
    width: 20px;
    height: 20px;
  }
  body {
    font-size: var(--font-size-mobile-base);
  }

  h1 {
    font-size: var(--font-size-mobile-h1);
  }
  h2 {
    font-size: var(--font-size-mobile-h2);
  }
  h3 {
    font-size: var(--font-size-mobile-h3);
  }
  h4 {
    font-size: var(--font-size-mobile-h4);
  }
  h5 {
    font-size: var(--font-size-mobile-h5);
  }
  h6 {
    font-size: var(--font-size-mobile-h6);
  }

  button,
  .button, .button--outline {
    padding: 0.4rem 1.5rem;
    font-size: var(--font-size-mobile-button);
  }

  input,
  textarea,
  select,
  .field__input {
    font-size: var(--font-size-mobile-field);
  }
}